In [70]:
import pandas as pd
import numpy as np
match=pd.read_csv('match.csv')
delivery=pd.read_csv('deliveries.csv')

print(match.shape,delivery.shape)

(950, 20) (225954, 17)

In [71]:
match.isna().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [72]:
match.isna().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [73]:
 delivery.isna().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
dtype: int64

In [74]:
delivery.groupby(['ID','innings']).sum() #per inning how many runs scored by teams and in next step converting this to DF

                 overs  ballnumber  batsman_run  extras_run  total_run  \
ID      innings
335982  1         1169         448          205          17        222
        2          725         383           63          19         82
335983  1         1167         449          234           6        240
        2         1171         449          196          11        207
335984  1         1152         434          122           7        129
...                ...         ...          ...         ...        ...
1312198 2         1281         494          171          22        193
1312199 1         1230         470          142          15        157
        2          936         379          161           0        161
1312200 1         1140         420          128           2        130
        2          963         408          124           9        133

                 non_boundary  isWicketDelivery
ID      innings
335982  1                   0                 3
        2                   0                10
335983  1                   0                 5
        2                   0                 4
335984  1                   0                 8
...                       ...               ...
1312198 2                   0                 6
1312199 1                   0                 8
        2                   0                 3
1312200 1                   0                 9
        2                   0                 3

[1928 rows x 7 columns]

In [75]:
total_score_df=delivery.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [76]:
total_score_df['total_run']=total_score_df['total_run']+1

In [77]:
tdf=total_score_df

In [78]:
total_score_df=total_score_df[total_score_df['innings']==1]

In [79]:
total_score_df

           ID  innings  total_run
0      335982        1        223
2      335983        1        241
4      335984        1        130
6      335985        1        166
8      335986        1        111
...       ...      ...        ...
1918  1304116        1        158
1920  1312197        1        189
1922  1312198        1        208
1924  1312199        1        158
1926  1312200        1        131

[950 rows x 3 columns]

In [80]:
match_df=match.merge(total_score_df[['ID','total_run']],left_on='ID',right_on='ID')

In [81]:
match_df[match_df.Team1==match_df.Team2]

Empty DataFrame
Columns: [ID, City, Date, Season, MatchNumber, Team1, Team2, Venue, TossWinner, TossDecision, SuperOver, WinningTeam, WonBy, Margin, method, Player_of_Match, Team1Players, Team2Players, Umpire1, Umpire2, total_run]
Index: []

[0 rows x 21 columns]

In [82]:
match_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,131
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,158
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,208
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,189
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,111
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,166
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,130
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,241
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,223

In [83]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [84]:
teams=['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians']

In [85]:
match_df.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2', 'total_run'],
      dtype='object')

In [86]:
match_df['Team1']=match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2']=match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1']=match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2']=match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['Team1']=match_df['Team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['Team2']=match_df['Team2'].str.replace('Kings XI Punjab','Punjab Kings')

match_df['Team1']=match_df['Team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['Team2']=match_df['Team2'].str.replace('Gujarat Lions','Gujarat Titans')

In [87]:
match_df=match_df[match_df['Team1'].isin(teams)]
match_df=match_df[match_df['Team2'].isin(teams)]

In [88]:
match_df.shape

(861, 21)

In [89]:
match_df=match_df[['ID','City','WinningTeam','total_run','Team1','Team2']]

In [90]:
delivery_df=match_df.merge(delivery,on='ID')

In [91]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,1,0,1,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,1,0,2,YBK Jaiswal,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,1,0,3,JC Buttler,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,1,0,4,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,1,0,5,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205076,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
205077,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
205078,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
205079,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
205080,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [92]:
delivery_df=delivery_df[delivery_df['innings']==2]

In [93]:
delivery_df.shape

(98901, 22)

In [94]:
delivery_df.to_csv('c2.csv')

In [95]:
delivery_df['current_score']=delivery_df.groupby('ID').cumsum()['total_run_y']

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score
120,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,0
121,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,0
122,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,1
123,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,1
124,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205076,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,80
205077,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81
205078,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81
205079,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,82
205080,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82

In [97]:
delivery_df['runs_left']=delivery_df['total_run_x']-delivery_df['current_score']

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
delivery_df.sort_values(by=['ID','overs'])

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left
204980,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,1,R Dravid,...,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,1,222
204981,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,2,W Jaffer,...,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2,221
204982,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,3,W Jaffer,...,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,2,221
204983,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,4,W Jaffer,...,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,3,220
204984,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,0,5,R Dravid,...,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,17,3,DA Miller,...,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,124,7
229,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,17,4,Shubman Gill,...,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,124,7
230,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,17,5,Shubman Gill,...,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,125,6
231,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,17,6,DA Miller,...,0,2,0,0,NaN,NaN,NaN,Gujarat Titans,127,4
232,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,18,1,Shubman Gill,...,0,6,0,0,NaN,NaN,NaN,Gujarat Titans,133,-2

In [99]:
delivery_df['balls_left']=120-(delivery_df['overs']*6+delivery_df['ballnumber'])

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
delivery_df.head()

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left
120,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,0,131,119
121,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,0,131,118
122,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,1,0,0,NaN,NaN,NaN,Gujarat Titans,1,130,117
123,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,1,130,116
124,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,1,130,115

In [101]:
wickets=delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values
delivery_df['wickets']=10-wickets

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [102]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets
120,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,0,131,119,10
121,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,0,131,118,10
122,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,1,130,117,10
123,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,0,0,NaN,NaN,NaN,Gujarat Titans,1,130,116,10
124,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,0,0,NaN,NaN,NaN,Gujarat Titans,1,130,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205076,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,80,143,31,1
205077,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81,142,30,1
205078,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,81,142,29,1
205079,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,82,141,29,1
205080,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,141,28,0

In [103]:
#crr=runs/overs
delivery_df['crr']=(delivery_df['current_score']*6)/(120-delivery_df['balls_left'])

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
delivery_df['rrr']=(delivery_df['runs_left']*6)/delivery_df['balls_left']

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [105]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,player_out,kind,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets,crr,rrr
120,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,NaN,NaN,NaN,Gujarat Titans,0,131,119,10,0.000000,6.605042
121,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,NaN,NaN,NaN,Gujarat Titans,0,131,118,10,0.000000,6.661017
122,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,NaN,NaN,NaN,Gujarat Titans,1,130,117,10,2.000000,6.666667
123,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,NaN,NaN,NaN,Gujarat Titans,1,130,116,10,1.500000,6.724138
124,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,NaN,NaN,NaN,Gujarat Titans,1,130,115,10,1.200000,6.782609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205076,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,NaN,NaN,NaN,Royal Challengers Bangalore,80,143,31,1,5.393258,27.677419
205077,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,NaN,NaN,NaN,Royal Challengers Bangalore,81,142,30,1,5.400000,28.400000
205078,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,NaN,NaN,NaN,Royal Challengers Bangalore,81,142,29,1,5.340659,29.379310
205079,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,NaN,NaN,NaN,Royal Challengers Bangalore,82,141,29,1,5.406593,29.172414
205080,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,141,28,0,5.347826,30.214286

In [106]:
def result(row):
    return 1 if row['BattingTeam']==row['WinningTeam'] else 0

In [107]:
delivery_df.apply(result,axis=1)

120       1
121       1
122       1
123       1
124       1
         ..
205076    0
205077    0
205078    0
205079    0
205080    0
Length: 98901, dtype: int64

In [108]:
delivery_df['result']=delivery_df.apply(result,axis=1)

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [109]:
def BowlingTeam(row):
    return row['Team1'] if row['Team2']==row['BattingTeam'] else row['Team2']

In [110]:
delivery_df['BowlingTeam']=delivery_df.apply(BowlingTeam,axis=1)

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [111]:
delivery_df

,ID,City,WinningTeam,total_run_x,Team1,Team2,innings,overs,ballnumber,batter,...,fielders_involved,BattingTeam,current_score,runs_left,balls_left,wickets,crr,rrr,result,BowlingTeam
120,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,1,WP Saha,...,NaN,Gujarat Titans,0,131,119,10,0.000000,6.605042,1,Rajasthan Royals
121,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,2,WP Saha,...,NaN,Gujarat Titans,0,131,118,10,0.000000,6.661017,1,Rajasthan Royals
122,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,3,WP Saha,...,NaN,Gujarat Titans,1,130,117,10,2.000000,6.666667,1,Rajasthan Royals
123,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,4,Shubman Gill,...,NaN,Gujarat Titans,1,130,116,10,1.500000,6.724138,1,Rajasthan Royals
124,1312200,Ahmedabad,Gujarat Titans,131,Rajasthan Royals,Gujarat Titans,2,0,5,Shubman Gill,...,NaN,Gujarat Titans,1,130,115,10,1.200000,6.782609,1,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205076,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,5,P Kumar,...,NaN,Royal Challengers Bangalore,80,143,31,1,5.393258,27.677419,0,Kolkata Knight Riders
205077,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,6,SB Joshi,...,NaN,Royal Challengers Bangalore,81,142,30,1,5.400000,28.400000,0,Kolkata Knight Riders
205078,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,14,7,P Kumar,...,NaN,Royal Challengers Bangalore,81,142,29,1,5.340659,29.379310,0,Kolkata Knight Riders
205079,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,1,SB Joshi,...,NaN,Royal Challengers Bangalore,82,141,29,1,5.406593,29.172414,0,Kolkata Knight Riders
205080,335982,Bangalore,Kolkata Knight Riders,223,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,SB Joshi,...,BB McCullum,Royal Challengers Bangalore,82,141,28,0,5.347826,30.214286,0,Kolkata Knight Riders

In [112]:
delivery_df[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets','total_run_x','crr','rrr','result']]

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
120,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,119,10,131,0.000000,6.605042,1
121,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,118,10,131,0.000000,6.661017,1
122,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,117,10,131,2.000000,6.666667,1
123,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,116,10,131,1.500000,6.724138,1
124,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,115,10,131,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...
205076,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,143,31,1,223,5.393258,27.677419,0
205077,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,30,1,223,5.400000,28.400000,0
205078,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,29,1,223,5.340659,29.379310,0
205079,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,29,1,223,5.406593,29.172414,0
205080,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,28,0,223,5.347826,30.214286,0

In [113]:
final_df=delivery_df[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets','total_run_x','crr','rrr','result']]

In [114]:
final_df

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
120,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,119,10,131,0.000000,6.605042,1
121,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,118,10,131,0.000000,6.661017,1
122,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,117,10,131,2.000000,6.666667,1
123,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,116,10,131,1.500000,6.724138,1
124,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,115,10,131,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...
205076,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,143,31,1,223,5.393258,27.677419,0
205077,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,30,1,223,5.400000,28.400000,0
205078,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,29,1,223,5.340659,29.379310,0
205079,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,29,1,223,5.406593,29.172414,0
205080,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,28,0,223,5.347826,30.214286,0

In [115]:
#now we have to shuffle the data because it can cause bias as it is grouped by id n inning 
final_df.sample(final_df.shape[0])

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
160820,Kolkata Knight Riders,Rajasthan Royals,Kolkata,43,68,8,82,4.500000,3.794118,1
175579,Kings XI Punjab,Punjab Kings,Cuttack,32,10,3,171,7.581818,19.200000,0
98143,Chennai Super Kings,Punjab Kings,Chandigarh,125,112,9,131,4.500000,6.696429,1
96904,Chennai Super Kings,Royal Challengers Bangalore,Ranchi,26,17,6,140,6.640777,9.176471,1
204349,Royal Challengers Bangalore,Mumbai Indians,Mumbai,60,38,6,166,7.756098,9.473684,1
...,...,...,...,...,...,...,...,...,...,...
21713,Punjab Kings,Kolkata Knight Riders,Dubai,30,20,6,166,8.160000,9.000000,1
162250,Rajasthan Royals,Delhi Capitals,Jaipur,70,63,8,152,8.631579,6.666667,1
94531,Sunrisers Hyderabad,Mumbai Indians,Hyderabad,52,42,8,143,7.000000,7.428571,1
124115,Royal Challengers Bangalore,Delhi Capitals,NaN,49,39,8,146,7.185185,7.538462,1
115286,Kings XI Punjab,Punjab Kings,Hyderabad,91,70,8,206,13.800000,7.800000,1

In [116]:
final_df.sample()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr,result
200066,Deccan Chargers,Sunrisers Hyderabad,Bangalore,25,13,6,157,7.401869,11.538462,0

In [117]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in c:\users\admin\appdata\local\programs\python\python37\lib\site-packages (from scikit-learn) (1.7.3)

[notice] A new release of pip available: 22.1.2 -> 22.2.2
[notice] To update, run: c:\users\admin\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip

In [118]:
final_df.isna().sum()

BattingTeam       0
BowlingTeam       0
City           6012
runs_left         0
balls_left        0
wickets           0
total_run_x       0
crr               0
rrr              11
result            0
dtype: int64

In [119]:
final_df.dropna(inplace=True)

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [120]:
final_df=final_df[final_df['balls_left']!=0] #so that rrr will not be infinite

In [121]:
X=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [122]:
X_train

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,crr,rrr
141991,Mumbai Indians,Royal Challengers Bangalore,Bangalore,148,94,7,172,5.538462,9.446809
81442,Gujarat Lions,Gujarat Titans,Kolkata,25,21,5,188,9.878788,7.142857
76738,Mumbai Indians,Punjab Kings,Mumbai,198,96,10,231,8.250000,12.375000
140601,Deccan Chargers,Rajasthan Royals,Hyderabad,39,45,8,127,7.040000,5.200000
1816,Royal Challengers Bangalore,Gujarat Titans,Mumbai,168,116,10,169,1.500000,8.689655
...,...,...,...,...,...,...,...,...,...
53843,Mumbai Indians,Royal Challengers Bangalore,Mumbai,106,85,10,172,11.314286,7.482353
165046,Chennai Super Kings,Punjab Kings,Dharamsala,180,104,10,193,4.875000,10.384615
113755,Kings XI Punjab,Punjab Kings,Delhi,155,113,10,165,8.571429,8.230088
10821,Kolkata Knight Riders,Rajasthan Royals,Mumbai,40,22,5,218,10.897959,10.909091
174059,Mumbai Indians,Kolkata Knight Riders,Mumbai,84,64,9,156,7.714286,7.875000

In [123]:
#as 1st 3 columns are in string, we need one hot encoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf=ColumnTransformer([('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BowlingTeam','City'])],remainder='passthrough')

In [124]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [125]:
pipe=Pipeline(steps=[('step1',trf),('step2',LogisticRegression(solver='liblinear'))])

In [126]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [127]:
X_train.describe()

,runs_left,balls_left,wickets,total_run_x,crr,rrr
count,74064.000000,74064.000000,74064.000000,74064.000000,74064.000000,74064.000000
mean,92.996881,63.055709,7.558895,166.038480,7.472020,10.441582
std,49.725167,33.269598,2.132435,28.842936,2.269684,13.758021
min,-15.000000,-2.000000,0.000000,63.000000,0.000000,-516.000000
25%,54.000000,35.000000,6.000000,148.000000,6.300000,7.200000
50%,92.000000,64.000000,8.000000,166.000000,7.516484,8.884615
75%,130.000000,92.000000,9.000000,186.000000,8.720000,10.914894
max,249.000000,119.000000,10.000000,249.000000,32.000000,714.000000

In [128]:
y_pred=pipe.predict(X_test)

In [129]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8163849435653724

In [130]:
pipe.predict_proba(X_test)[7]

array([0.79428715, 0.20571285])

In [131]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [132]:
teams

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Delhi Capitals',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Punjab Kings',
 'Mumbai Indians']

In [133]:
delivery_df.City.unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Nagpur', 'Johannesburg', 'Centurion', 'Durban',
       'Bloemfontein', 'Port Elizabeth', 'Kimberley', 'East London',
       'Cape Town'], dtype=object)

In [134]:
final_df.columns

Index(['BattingTeam', 'BowlingTeam', 'City', 'runs_left', 'balls_left',
       'wickets', 'total_run_x', 'crr', 'rrr', 'result'],
      dtype='object')

In [135]:
final_df.dtypes

BattingTeam     object
BowlingTeam     object
City            object
runs_left        int64
balls_left       int64
wickets          int64
total_run_x      int64
crr            float64
rrr            float64
result           int64
dtype: object

In [136]:
from platform import python_version
python_version()

'3.7.0'

In [137]:

import sklearn

print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 1.0.2.